/* Header.css */

/* Importation du CSS global */
@import url('../css/global.css');

/* Styles pour le Header */
.header {
    background-color: var(--primary-color); /* Kelp - Couleur principale pour le fond */
    padding: 20px 0;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    box-sizing: border-box;
}

/* Styles pour le Titre du Header */
.header-title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}

/* Style spécifique pour le lien dans le titre */
.header-title .header-link {
    display: inline-block; /* Permet les transformations */
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Garde la couleur du titre */
    transition: transform 0.7s ease, color 0.7s ease; /* Transition fluide pour le grossissement et la couleur */
}

.header-title .header-link:hover {
    transform: scale(1.1); /* Grossissement léger au survol */
    color: var(--secondary-color); /* Maintient la couleur d'origine au survol */
    text-decoration: none; /* Assure qu'il n'y a pas de soulignement au survol */
}

/* Styles pour la Navigation */
.nav-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Styles pour les Liens de Navigation */
.nav-link {
    position: relative;
    color: var(--tertiary-color); /* Envy - Couleur tertiaire pour les liens */
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 1s ease, left 1s ease;
}

.nav-link:hover {
    color: var(--tertiary-color); /* Maintient la couleur au survol */
    background-color: rgba(152, 169, 146, 0.1); /* Légère coloration de fond au survol */
    text-decoration: none; /* Pas de soulignement au survol */
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}
